/* raleway font class start */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* raleway font class end */

/* shared styles start*/
body{
    background-color: #f5f8ff;
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-color{
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    border: none;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    transition: all linear .3s;
}
.btn-primary:hover{
    background-color: #f0c410;
    color: black;
}
/* shared styles end*/

/* header style start */
.header{
    text-align: center;
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 152px;
}
/* header style end */
/* navbar style start */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px 0;
}
.nav-logo{
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
}
/* navbar style end */

/* banner style start */
.banner-section{
    padding: 158px 0;
}
.banner-content{
    width: 905px;
    margin: 0 auto;
}
.banner-head{
    color: #252432;
    font-weight: bold;
    font-size: 65px;
}
/* banner style end */

/* action style start */
.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 116px;
}
.action-left-side{
    width: 517px;
}
.action-title{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
}
.action-sub-title{
    color: #8c8e98;
    font-size: 24px;
    margin-bottom: 23px;
}
.action-img{
    border-radius: 35px;
}
/* action style end */

/* productive user style start */
.productive-users-section{
    text-align: center;
    background-color: #e5e7ff;
    padding: 50px 0;
    border-radius: 25px;
    margin-bottom: 137px;
}
.productive-title{
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}
.productive-all-sub-titles{
    display: flex;
    justify-content: space-around;
}
.productive-sub-title-head{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 80px;
}
.productive-sub-title-para{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #8b8c9b;
    margin-top: 0;
}
/* productive user style end */

/* users feedback section start */
.users-feedback-section{
    margin-bottom: 137px;
}
.users-feedback-all-cards{
    display: flex;
    gap: 20px;
}
.users-feedback-head{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 50px;
}
.users-feedback-card{
    width: 366px;
    border: 1px solid #F2EDED;
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 20px;
}
.card-stars{
    display: flex;
    gap: 7px;
    margin-bottom: 24px;
}
.card-stars img{
    width: 25px;
}
.card-content{
    width: 318px;
    margin-bottom: 24px;
}
.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #1E1E1E;
}
.card-sub-title{
    font-size: 16px;
    color: #1E1E1E;
}
.card-person{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card-person img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    border-radius: 50%;
}
.card-persons-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-person-name{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.person-date{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #bcbcbd;
}
/* users feedback section end */

/* focus section style start */
.focus-section{
    background-color: #ffff;
    text-align: center;
    padding: 71px 0;
    border-radius: 14px;
    margin-bottom: 90px;
}
.focus-head{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.focus-description{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #bcbcbd;
    margin-bottom: 20px;
}
.focus-section a{
    display: block;
    margin-bottom: 20px;
}
.focus-section img{
    border-radius: 48px;
}
/* focus section style end */
/* touch section start */
.touch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 71px 0;
}
.touch-left-side{
    width: 528px;
    font-size: 67px;
    font-weight: bold;
}
.touch-right-side{
    width: 500px;
}
.touch-right-side label{
    font-family: "Inter", sans-serif;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.touch-right-side input[type="text"], .touch-right-side input[type="email"], .touch-right-side textarea{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    width: 87%;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    margin-bottom: 19px;
}
.touch-right-side textarea{
    resize: none;
}
.touch-right-side input[type="submit"]{
    width: 100%;
}
/* touch section end */

/* footer style start */
footer{
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: #FFFFFF;
    padding: 104px 0;
}
.footer-logo-text{
    font-size: 100px;
    margin-bottom: 8px;
}
.footer-description{
    width: 531px;
    color: #8987a1;
    margin: 0 auto;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 48px;
}
footer a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
}
/* footer style end */